* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
}

h1,
h2,
h3 {
    letter-spacing: 2px;
}

h1 {
    font-size: 62px;
}

h2 {
    font-size: 52px;
}

h3 {
    font-size: 26px;
}

p {
    font-size: 18px;
    line-height: 150%;
}

.container {
    width: 80%;
    margin: auto;
    overflow-x: hidden;
}

.overlay {
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1; /*3ashan a5aiha taht el kalam*/
    top: 0; 
    left: 0;
}
.overlay-2 {
    background-color: rgba(0, 0, 0, .2);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2; /*3ashan a5aiha taht el kalam*/
    top: 0; 
    left: 0;
}
.overlay-orange {
    background-color: rgba(0, 0, 0, .55);
}

.text-center {
    text-align: center;
}

.upper-txt {
    text-transform: uppercase;
}

.orange-bg {
    background-color: #D35F0F;
}
.black-bg {
    background-color: #000;
}
.white-bg{
     background-color: #CB4335;
}
.red-txt{
    color: #F22D05;
}

.white-txt {
    color: #fff;
}

.orange-txt {
    color: #FF9857;
}


.dark-blue-txt {
    color: #083B50;
}

.light-blue-txt {
    color: #01b99d;
}
.light-blue-bg{
    background-color: #922B21;
}